body{
  background:#f4f4f4;
}

/* border panel y graficos */
.panel-noticias {
border-style: ridge;
border-color:#c2c1c1a6;

}

.icono-noticias{
  background-color: #D6EAF8  ;
 
  color: #1A5276  ;
}

/* Navbar */
.navbar{
  min-height: 33px !important;
  margin-bottom:0;
  border-radius:0;
}

.navbar-nav > li > a, .navbar-brand{
  padding-top:6px !important;
  padding-bottom:0 !important;
  height: 33px;
}
.btn-primary{
  background-color: #31708f;
}
.navbar-default {
  background-color: #31708f;
  border-color: #31708f;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffbbbc;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffbbbc;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffbbbc;
  background-color: #31708f;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffbbbc;
  background-color: #31708f;
}
.navbar-default .navbar-toggle {
  border-color: #31708f;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #31708f;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #ffbbbc;
}

/* Custom */
.panel-body-color{
  background-color:#f5f5f5;
}
/* border principal bienvenido*/
.border-principal{
  background-color: #456779!important;
  border-color: #7d82cf !important;
  color:#ecf0f1 !important;
  
}

.a{
  
  text-align: center;
  
}

.border-ppanel{

border-color: #31708f;

}
.main-color-bg{
  background-color: #f5f5f5 !important;
  border-color: #ddd !important;
  color:#333 !important;
}
.tabla-color-bg{
  background-color: #31708f!important;
  border-color: #1a3847 !important;
  color:#ecf0f1 !important;
}
#header{
  background:#053852;
  color:#ffffff;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

/* logo pucmm */ 
#headerP{
  background:#105f86;
  color:#ffffff;
  padding-bottom: 25px; 
}




#header .create{
  padding-top: 20px;
}

/* Breadcrumb */
.breadcrumb{
  background:#cccccc;
  color:#333333;
}

.breadcrumb a{
  color:#333333;
}

/* Progress Bars */
.progress-bar{
  background:#333333;
  color:#ffffff;
}

.dash-box{
  text-align:center;
}

#login{
  margin-top:30px;
}

/* Footer */
#footer{
  background:#333333;
  color:#ffffff;
  text-align:center;
  padding:30px;
  margin-top:30px;
}
/* pills background */
.nav-pills>li.active>a,.nav-pills>li.active>a:focus,.nav-pills>li.active>a:hover {
    /*background-color: #bce8f1;
    color: black;*/
}
.nav-pills>li>a{
  color: black;
  background-color: #dbdbdb;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffbbbc;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffbbbc;
    background-color: #31708f;
  }
}


.principal-view .panel-header {
 text-align: center;
}

.principal-view .item-menu .panel-body {
  background: #105f86;
  height: 200px;
  display: grid;
  align-items: center;
}

.principal-view .item-menu h3,
.principal-view .item-menu h2 {
  color: white;
  text-align: center;
}

.principal-view .item-menu h2 {
  display:none;
}

.principal-view .item-menu a[href]:hover > h2 {
  display:grid;
}

.principal-view .item-menu:hover > .panel-body h2 {
  display:grid;
}

.principal-view .panel-body .material-icons,
.principal-view .panel-body .glyphicon {
  font-size: 100px;
}

.principal-view .item-menu a[href]:hover {
  text-decoration: none;
}

.principal-view .item-menu .panel-body:hover {
  background: #1a82b6;
  cursor: pointer;
}

.principal-view {
  height: 90vh; 
  background: url(/Proyecto/pages/Pagetheme/Img/loginFont.jpg) no-repeat center center fixed;
}

#headerP h1[logo-principal] {
  text-align: center;
}

.principal-view .principal-icons {
  padding-top: 110px;
}
